header{
    background: #bbbbbb;
    padding: 20px 0;}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 0;
    right: 0;
    }
nav li{
    display: inline;
    margin: 0 0 0 15px;}

nav a{
    text-transform: uppercase;
    color: #011d0f;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;}

nav a:hover {
    color: #a0e853;
    text-decoration: underline;
}
.produtos li:hover {
    border-color:#a0e853;
}

.produtos li:active {
    border-color: #980705;	
}
.produtos li:hover h2 {
    font-size: 34px;
}


.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display:inline-block ;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
}
 .produtos h2{
    font-size: 30px;
    font-weight: bold;
    color: rgb(59, 59, 208);
 }

 .produto-preço{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px ;

 }
 .produto-descricao{
    font-size: 18px;
    color: rgb(28, 49, 1);
 }
 footer{
    text-align: center;
    background: url(imagensprodutos/bg.jpg);
    padding: 40px 0;

 }
.copy {
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
}

main{
   width:  940px;
   margin: 0 auto;
      
}
form{
    margin: 40px 0;
}
form label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
form input {
    display: block;
}
